// VARIABLES 

$mainType: Spartan;
$subType: Cousine;

$bold: 700;
$regular: 400;

$white: #ffffff;
$textBlack: #343036;
$hrColor: #ededee;

$grayOne: #97959a;
$grayBackground: #fafafe;

$purpleOne: #beb9d3;
$purpleTwo: #5c22d1;
$purpleGradient: linear-gradient( #5b28d1, #4a61d6);

$orangeBtn: #ff8d58;